<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">SNS</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/posts">Posts</a></li>
        <% if user_signed_in? %>
        <li><%= current_user.name %></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %></li>
        <% else %>
        <li><a href="/users/sign_in">Sign in</a></li>
        <li><a href="/users/sign_up">Sign up</a></li>
        <% end %>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <% if user_signed_in? %>
        <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %></li>
        <% else %>
        <li><a href="/users/sign_in">Sign in</a></li>
        <li><a href="/users/sign_up">Sign up</a></li>
        <% end %>
      </ul>
    </div>
  </nav>

<%= yield %>

</body>
</html>
